@model FactoringSurvey.Models.SurveyResponse

@{
    Layout = null;
}

@using FactoringSurvey.Models;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">

    <p>
        <h3>Thank you, @Model.Name!</h3>
        @if (Model.Gender == EnumOptions.GenderFemale)
        {
            @:Really smart, Madam!
        }
        else if (Model.Gender == EnumOptions.GenderMale)
        {
            @:Way to go dude!
        }
        else
        {
            @:Whatever! Have fun in @Model.Country!
        }
    </p>

    <p>
        Click <a class="navbar-link" asp-action="SurveyForm(@Model)">here</a> to return to survey.
    </p>

</body>
</html>
