@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Survey Welcome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <div class="panel panel-primary">
			<div class="panel-heading text-center">Trinomials Factoring Teaching Survey</div>
			<div class="panel-body">
				<p>
				International Comparative Study of Using Technology as a Tool in Teaching the
Factoring of Quadratic Functions
				</p>
				<p><blockquote>Małgorzata Mart</blockquote></p>
			</div>
		</div>

        <a asp-action="SurveyForm" class="btn btn-primary">Enter Survey</a>
    </div>
</body>
</html>