@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Survey Welcome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Margaret Mart</h3>
        <h3>AN INTERNATIONAL COMPARATIVE STUDY OF USING TECHNOLOGY AS A TOOL IN TEACHING THE
FACTORING OF QUADRATIC FUNCTIONS</h3>
        <h3>Trinomials Factoring Teaching Survey</h3>

        <a asp-action="SurveyForm" class="btn btn-primary">Enter Survey</a>
    </div>
</body>
</html>